.check_container {
  display: flex;
  gap: 8px;
}
.input + span {
  min-width: 16px;
  height: 16px !important;
  border: 1px solid rgba(208, 213, 221, 1);
  border-radius: 4px;
  margin-top: 3px;
  background-color: rgba(255, 255, 255, 1);
}
.input:checked + span {
  background-color: rgba(212, 170, 44, 1);
  border-color: rgba(212, 170, 44, 1);
}

.input {
  display: none;
}
