.container {
  /* width: 100%; */
  position: relative;
  /* padding: 10px; */
}

.selectBoxContainer {
  margin-top: 28px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  border-radius: 12px;
  /* margin-left: 8px;
  margin-right: 8px; */

}

.selectBoxSelectedItemContainer {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 16px;
}
.selectBoxSelectedItem {
  color: #4b739b;
  font-size: 0.875rem;
}
.selectBoxBtn {
  outline: none;
  border: none;
  background-color: #ca9b31;
  border-radius: 0 16px 16px 0;
  border: 4px solid white;
  padding: 20px 32px;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
  line-height: 19px;
}

.optionsContainer {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  z-index: 10;
  background-color: #ffffff;
  border-radius: 12px;
  padding: 8px 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.option {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  align-items: center;
}
.doctorName {
  margin: 0;
  color: #344054;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}
.doctorProfession {
  margin: 0;
  color: #475467;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.doctorImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 16px;
}

.radioLabel {
    /* class="flex items-center gap-2 bg-[#ca9b31] hover:bg-[#f9f8f2] border-2 border-[#ca9b31] hover:text-[#ca9b31]  text-white font-medium text-lg px-4 py-3 rounded-xl shadow-md   transition duration-150 ease-in-out" */
    display: flex;
    align-items: center;
    gap: 2px;
    background-color: #f9f8f2;
    border: 2px solid #ca9b31;
    color: #ca9b31;
    font-weight: 500;
    font-size: 1rem;
    padding: 12px 24px;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}

.radioLabel:hover {
    background-color: #ca9b31;
    color: #f9f8f2;
}

.radioLabel input[type="radio"] {
    display: none;
}

/* .radioLabel input[type="radio"]:checked + .radioLabel {
    background-color: #f9f8f2;
    border: 2px solid #ca9b31;
    color: #ca9b31;
} */

.selectedRadioLabel {
    background-color: #ca9b31;
    border: 2px solid #ca9b31;
    color: #f9f8f2;
}
