.tagContainer {
  display: flex;
  flex-direction: column;
  margin: 15px 0;

}
.tagsTitle {
  margin: 0;
  color: #141417;
  font-size: 18px;
  font-weight: 500;
}
.tags {
  margin-top: 16px;
}
.tag {
  margin: 0;
  margin-right: 16px;
  margin-bottom: 12px;
  display: inline-flex;
  color: #141417;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  align-items: center;
  gap: 4px;
}
