.container {
  background-color: #ffffff;
  padding: 24px;
  margin-top: 60px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.title {
  margin: 0;
  color: #141417;
  font-size: 24px;
  font-weight: 700;
}

.paragraph {
  margin: 0;
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

.link {
  color: #141417;
  font-size: 16px;
  font-weight: 700;
  text-decoration: underline;
}
